section#brands.brands.text-center
	.container
		.title-2 Бренды из коробочек красоты
		.owl-carousel.brands-carousel
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/1.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/2.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/3.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/4.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/1.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/2.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/3.jpg", alt="")
			.owl-carousel-item.brands-carousel-item
				img(src="img/brands/4.jpg", alt="")