footer.footer#footer
	.footer-top
		.container
			.row
				.col-lg-4.col-xl-3.offset-xl-1
					.footer-column.footer-column--left
						.footer-logo
							img(src="img/logo-footer.png", alt="logo")
							.company-description.
								PrimeBeautyBox - это новый способ пробовать,находить и покупать косметику любимых,новых и самых интересных брендов,которая идеально подойдет именно Вам.PrimeBeautyBox - Ваш ориентир в мире Бьюти

				.col-md-6.col-lg-4.col-xl-2.offset-xl-1
					.footer-contacts
						.contacts-item.contacts-item-phone.d-none.d-lg-flex
								i.fas.fa-phone
								a(href="#").header-phone 8 495 374 79 01
						.contacts-item.contacts-item-mail.d-none.d-lg-flex
							i.fas.fa-envelope
							a(href="#").header-mail info@newbeautybox.ru

						.social-group
							a(href="#").social-group__item
								i.fab.fa-vk
							a(href="#").social-group__item
								i.fab.fa-facebook-f
							a(href="#").social-group__item
								i.fab.fa-instagram


				.col-md-6.col-lg-4.col-xl-3.offset-xl-1
					.footer-column.footer-column--right
						.footer-column__title Будь в курсе
						a(href="#").subscribe-btn.d-flex
							span.subscribe-btn__text Подписаться
							.subscribe-btn__icon
								i.fas.fa-envelope
						.footer-column__slogan Узнайте первыми об акциях и скидках

	.footer-bottom
		.container
			.row
				.col-md-6.col-lg-6.col-xl-5.offset-xl-1
					.footer-copyright.d-flex
						.footer-copyright--left © primebeautybox.ru. Bce права защищены
				.col-md-6.col-lg-4.offset-lg-2.col-xl-3.offset-xl-2
					.footer-copyright--right.d-flex
						.text Создание сайта Sitewill
						img(src="img/icons/wolf.png", alt="logo")


section#back-top
	a(href="#top")
		span
			i.fas.fa-angle-double-up

