section.goods#goods
	.container
		.title-2.text-center Лимитки и коробочки с косметикой
		.goods-wrapper.d-flex
			.good-card.good-card--light.wow.slideInLeft(data-wow-duration="2s")
				.title-2.title-2--card-body SELFIE BOX
				.good-card__body
					.good-card__text Средства для ухода за кожей, макияжа и укладки - все, что нужно для идеального селфи, целых 10 продуктов для твоей красоты!
					.price-text.price-text--good-card
						span.price-num #[b 6500]
							sup rub
						br
						span Стоимость содержимого коробки
					.new-price.new-price--good-card
						span.new-price-text Новая ЦЕНА
						br
						span.new-price-num #[b 1500]
							sup rub
					a(href="#").card-btn Заказать коробочку
				img.good-card-img(src="img/card1.png", alt="набор")


			.good-card.wow.slideInRight(data-wow-duration="2s")
				.title-2.title-2--card-body SELFIE BOX
				.good-card__body
					.good-card__text Средства для ухода за кожей, макияжа и укладки - все, что нужно для идеального селфи, целых 10 продуктов для твоей красоты!
					.price-text.price-text--good-card
						span.price-num #[b 6500]
							sup rub
						br
						span Стоимость содержимого коробки
					.new-price.new-price--good-card
						span.new-price-text Новая ЦЕНА
						br
						span.new-price-num #[b 1500]
							sup rub
					a(href="#").card-btn Заказать коробочку
				img.good-card-img(src="img/card2.png", alt="набор")


			.good-card.wow.slideInLeft(data-wow-duration="2s")
				.title-2.title-2--card-body SELFIE BOX
				.good-card__body
					.good-card__text Средства для ухода за кожей, макияжа и укладки - все, что нужно для идеального селфи, целых 10 продуктов для твоей красоты!
					.price-text.price-text--good-card
						span.price-num #[b 6500]
							sup rub
						br
						span Стоимость содержимого коробки
					.new-price.new-price--good-card
						span.new-price-text Новая ЦЕНА
						br
						span.new-price-num #[b 1500]
							sup rub
					a(href="#").card-btn Заказать коробочку
				img.good-card-img(src="img/card2.png", alt="набор")

			.good-card.good-card--light.wow.slideInRight(data-wow-duration="2s")
				.title-2.title-2--card-body SELFIE BOX
				.good-card__body
					.good-card__text Средства для ухода за кожей, макияжа и укладки - все, что нужно для идеального селфи, целых 10 продуктов для твоей красоты!
					.price-text.price-text--good-card
						span.price-num #[b 6500]
							sup rub
						br
						span Стоимость содержимого коробки
					.new-price.new-price--good-card
						span.new-price-text Новая ЦЕНА
						br
						span.new-price-num #[b 1500]
							sup rub
					a(href="#").card-btn Заказать коробочку
				img.good-card-img(src="img/card1.png", alt="набор")

		a.buy-btn.text-center(href="#" ) Заказать  коробочку



