block variables


doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no")
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		//- link( rel="stylesheet" href="libs/bootstrap_grid/bootstrap-grid.min.css")
		link( rel="stylesheet" href="libs/bootstrap-4/css/bootstrap.min.css")

		link(rel="stylesheet", href="libs/owlCarousel/owl.carousel.min.css")
		link(rel="stylesheet", href="libs/owlCarousel/owl.theme.default.min.css")
		link(rel="stylesheet", href="libs/animate.css")

		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")

		link(rel="shortcut icon" href="img/favicon.png"  type="image/x-icon" )
		link(rel="stylesheet", href="fonts/GothamPro/stylesheet.css")
		link(rel="stylesheet", href="css/main.css")

	body


		block content
		script(src="libs/jquery/jquery-3.0.0.min.js")
		script(src="libs/bootstrap-4/js/bootstrap.min.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		script(src="libs/owlCarousel/owl.carousel.min.js")
		script(src="https://use.fontawesome.com/e6ceb2e478.js")

		script(src="libs/wow.min.js")
		script(src="js/jquery.validate.js")
		script(src="js/jquery.maskedinput.js")
		script(src="js/form.js")
		script(src="js/send_form.js")
		script(src="js/gamburger.js")
		script(src="js/mobile-contacts.js")
		script(src='js/main.js')